.bounceRight {
	animation-name: bounce;
    animation-duration: 1.5s;
     animation-iteration-count: infinite;
     animation-direction: reverse;

}

.bounceLeft {
	animation-name: bounce;
    animation-duration: 1.5s;
     animation-iteration-count: infinite;
     animation-direction: forwards;
     animation-delay: 1s;
}

@keyframes bounce {
	0% {
		-webkit-transform: translate3d(0,0,0);
		   -moz-transform: translate3d(0,0,0);
		    -ms-transform: translate3d(0,0,0);
		     -o-transform: translate3d(0,0,0);
		        transform: translate3d(0,0,0);
	}
	50% {
		-webkit-transform: translate3d(10px,0,0);
		   -moz-transform: translate3d(10px,0,0);
		    -ms-transform: translate3d(10px,0,0);
		     -o-transform: translate3d(10px,0,0);
		        transform: translate3d(10px,0,0);
	}
	100% {
		-webkit-transform: translate3d(0,0,0);
		   -moz-transform: translate3d(0,0,0);
		    -ms-transform: translate3d(0,0,0);
		     -o-transform: translate3d(0,0,0);
		        transform: translate3d(0,0,0);
	}	
}